// profile.scss 
//formatting for the profile page 
profile-cmp {

    h3 {
        text-align: center;
    }

    .jumbotron {
        background: url('../assets/img/toproad2.jpg') no-repeat;
        background-size: 100% 100%;
    }

    .main {
        background: url('../assets/img/toproad2.jpg');
        background-size: 100% 100%;
    }

}